.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 2s linear; 
  width: 5%; 
  height: auto;
}

.green{
  color: #42ff3b
}
.red{
  color: #ff1616
}
.huge-icon{

  width: 50%; 
  height: auto;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


nav{
  height: 50px;
  background: #1C4649;
  bottom:0;
  position: fixed;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 101;
}

nav a{
  color: #fff;
}

nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

nav li{
  padding: 0 20px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
