@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body, html{
  height: 100%;
}

body{
    background: url('gfx/background.svg') no-repeat;
    font-family: "Roboto", sans-serif;
    background-size: 100% auto;
}

.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 2s linear;
  margin: auto; 
  width: 30%; 
  height: auto;
}

.green{
  color: #42ff3b
}
.red{
  color: #ff1616
}


.icon-container{
  background: white;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  margin: 55px auto 0 auto;
}
.huge-icon{
  height: auto;
  width: 75%;
  margin-top: 25px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


nav{
  height: 50px;
  background: #1C4649;
  bottom:0;
  position: fixed;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 101;
}

nav a{
  color: #fff;
    font-size: 30px;
    margin: 8px 0;
    display: inline-block;
}

nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
    padding: 0;
    margin: 0;
}

nav li{
  padding: 0 20px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
